/* Asterisk wildcard selector to override default styles add by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(43, 2, 42, 0.941);
}

h1 {
    color: #e5daec;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.gaming-container {
    background-color: #e5daec;
    box-sizing: border-box;
    width: 85%;
    height: 100%;
    margin: auto;
    margin-bottom: 100px;
}

.controls-canvas {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    perspective: 1000px;
}
.btn {
    height: 100px;
    width: 100px;
    background-color: rgba(158, 98, 157, 0.941);
    color: white;
}

.btn:hover {
    background-color: rgba(207, 171, 207, 0.941);
    color: black;
}

.card-back {
    transform: rotate(180deg);
}
