/* Asterisk wildcard selector to override default styles add by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    background-color: rgba(43, 2, 42, 0.941);
}

main {
    background-color: #e5daec;
    box-sizing: border-box;
    width: 85%;
    height: 450px;
    margin: auto;
}

.game-canvas{
    display: block;
    padding-top: 10px;
}

h1 {
    color: #e5daec;
    padding-top: 25px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn {
    height: 200px;
    width: 200px;
    display: flexbox;
    margin-top: 10px;
}

@media (max-width: 500px) {
    .btn {
        height: 100px;
        width: 100px;
    }

}