/* Asterisk wildcard selector to override default styles add by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(16, 1, 16, 0.941);
   /* background-color: rgba(43, 2, 42, 0.941); */
}

h1 {
    color: #e5daec;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.gaming-container {
    background-color: #e5daec;
    box-sizing: border-box;
    width: 85%;
    height: 100%;
    margin: auto;
    margin-bottom: 100px;
}

#score-canvas {
    text-transform: capitalize;
    font-size: xx-large;
    text-align: center;
    padding-top: 20px;
}

.controls-canvas {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    align-items: center;
}

/** Flipping **/

.inner-flip {
    width: 100px;
    height: 100px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: 10px;
    margin-top: 20px;
}

/*Delete this code add JavaScript onclick*/
.controls-canvas .inner-flip:active {
    transform: rotateY(180deg);
    transition: transform .01s;
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back-face {
    transform: rotateY(180deg);
}

.btn {
    height: 100px;
    width: 100px;
}

#information-modal {
    background-color: rgba(24, 2, 24, 0.941);
    color: white;
    width: 90%;
    height: 100%;
    z-index: 2;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 200px;
    margin-top: 50px;
}

#start-mission {
    color: rgba(24, 2, 24);
    background-color: white;
    height: 50px;
    width: 200px;
}

#start-mission:hover {
    color: rgb(195, 130, 195);
}

.hidden {
    display: none;
}

.description {
    display: none;
}

/*Media queries*/

@media screen and (max-width: 767px) {

.controls-canvas {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}
}

/*Media queries*/

@media screen and (max-width: 560px) {

    .controls-canvas {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
    }
    }

    /*Media queries*/

@media screen and (max-width: 440px) {

    .controls-canvas {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    }